- include_stylesheet 'admin/ad_banners'
= render_region :top

- render_region :main do |main|
  - main.edit_header do
    %h1= t('ad_banner_action.new')

  - main.edit_form do
    = render :partial => 'form'
